<ion-modal-view>
	<ion-header-bar class="bar-positive">
		<h1 class="title">Add new RockBand</h1>
		<div class="buttons">
			<button class="button icon ion-close" ng-click="closeModal()"></button>
		</div>
	</ion-header-bar>
	<ion-content>
		<form ng-submit="saveRockBand()">
			<div class="list">
				<label class="item item-input item-floating-label">
					<span class="item-label">Name:</span>
					<input type="text" placeholder="Name" ng-model="rockband.name">
				</label>
				<label class="item item-input item-floating-label">
					<span class="item-label">Type:</span>
					<input type="text" placeholder="Type" ng-model="rockband.type">
				</label>

				<label  class="item item-input item-floating-label">
					<span class="item-label">Year</span>
					<input type="number" placeholder="Year" ng-model="rockband.year">
				</label>
			</div>
			<div class="padding">
				<button type="submit" class="button button-positive button-block">Save</button>
			</div>
		</form>
	</ion-content>
</ion-modal-view>