<ion-view view-title="Chats">

  <ion-nav-buttons side="right">
    <button class="button icon ion-plus-circled" ng-click="showModal()"></button>
  </ion-nav-buttons>

  <ion-content>
  
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search" ng-model="nameRockBand">
      </label>
    </div>

    <ion-list>
      <ion-item class="item-thumbnail-left" ng-repeat="band in rockbands | filter: {name: nameRockBand} | orderBy: '-year'">
        <img ng-src="/img/rockbands/{{ band.photo }}" alt="photo">
        <h2>{{ band.name }}</h2>
        <p>{{ band.type }} {{ band.year }}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
