<ion-view title="Class one">
	<ion-content class="padding">

		<h1>{{ today | date: 'medium' }}</h1>

		<input type="text" placeholder="Por nombre" ng-model="nameGirl">

		<input type="text" placeholder="Por apellido" ng-model="lastNameGirl">

		<ion-list>
			<ion-item class="item-avatar" ng-repeat="girl in girls | filter: { name : nameGirl, lastname: lastNameGirl } | orderBy: '-age'">
				<img ng-src="{{girl.photo}}" alt="photo">
				<h2>{{ girl.name | uppercase }} {{ girl.lastname }}</h2>
				<p> {{ girl.age }} </p>
			</ion-item>
		</ion-list>

		<p></p>

		<h1>{{ "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia eum, beatae nostrum, praesentium reiciendis rem deleniti ex dolores vel error velit, explicabo enim a id ea illum quis consequatur iure." | limitTo: 50 }}..</h1>

		<h2> {{ 2.34343434232323 | number: 5 }} </h2>

		<h2> {{ "Diana" | chat }} </h2>

		<h2> {{ "Diana" | reverse }} </h2>
		<h2> {{ "anaiD " | reverse }} </h2>


<!--
		ng-repeat="girl in girls | filter: { name : nameGirl, lastname: lastNameGirl } | orderBy: 'age'"
-->

		<button class="button button-block">Click me!!</button>
		<button class="button button-positive button-block">Click me!!</button>
		<button class="button button-calm  button-outline button-block">Click me!!</button>
		<button class="button icon-left ion-camera button-dark">Take a picture</button>
	<!--
		<input placeholder="Digite su nombre" type="text" ng-model="name">
		<hr/>
		<div ng-show="name != ''">
			<input  type="number" placeholder="Digite el numero" ng-model="number">
			<hr/>
			<div ng-show="number > 0">
				<button ng-click="add(number)" class="button button-positive">Agregar numeros</button>
				<hr/>
				<h3>El resultado es <strong>{{ numbers }}
			</div>
			</strong></h3>
		</div>
		-->
	</ion-content>
</ion-view>